@inherits Custom.Hybrid.RazorTyped

  <h1>Google reCAPTCHA v3</h1>


  <h3 class="mt-4">Token verify</h3>
  @Html.Partial("./Test-Receptcha.cshtml")

  <hr class="my-4" />

  <h3>Form submit</h3>
  @Html.Partial("./Test-Receptcha-Form.cshtml")
  
  <hr class="my-4" />

  <h3>Documentation example</h3>
  @Html.Partial("./Docs-Recaptcha.cshtml")